body{
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	margin: 0px;
}
tbody{
	font-size: 13px;
}
.email{
	
	color: gray;
	font-size: 13px;
	font-weight: 500px;
}







.heading{
	font-size: 28px;
}
.circle{
	background: #d9f0d9;
    color:#62a162;
    padding: 1PX 21px;
    border-radius: 50px;
}
.circle1{
	background:#e8c37f70;
    color:#e0520478;
    padding: 1PX 21px;
    border-radius: 50px;
}
.circle22{
	border: 2px solid green;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: green;
    position: absolute;
    top: 7px;
   
    left: 6px;

}
.circle23{
	border: 2px solid orange;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color:orange;
    position: absolute;
    top: 7px;
   
    left: 6px;
}
.circle-33{
	position: relative;
}
.x{
	position: absolute;
	/*width: 16px;
	height: 4px;
	top: 20px;
	left: 40px;
	transform: translate(-50%,-50%);*/
/*	background: red;*/
	border: none;
    color: transparent;
	padding: 0px;
    border: none;
    background-color: transparent;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.x::before , .x::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 3px;
	background: red;
	border: none;

}
.x::before {
	transform: rotate(-45deg);

}
.x::after{
	transform: rotate(45deg);

}
.x:hover{
	cursor: pointer;
      border: 2px solid black;
}
.color{
	background-color: #fafafa;
    border-bottom: 8px solid white;

}
/*.panding{
	    padding-right: 72px;
	    padding-top: 48px;*/
}
.checkbox-primary{
	    color: #40bfc1;
}
